{% extends "template.html" %}
{% block content %}
<div id="title">
Describe yourself and experience.
</div>
    <form action="/action_page">
        <fieldset>
        <legend>Bio:</legend>
        <label for="fname">Summary</label>
        <input type="text" id="summary" name="summary">
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday">
        <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
{% endblock %}